*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 80px;
    background-image: url(../img/wall.png);
    text-align: center;
}

.title{
        font-family: 'Edu TAS Beginner', sans serif;
        padding: 15px;
}

.title-2{
    font-family: 'Edu TAS Beginner', sans serif;
    margin-bottom: 5px;
}

.container{
 width: 80%;
 margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.first-image{
width: 300px;
height: auto;
padding: 10px;
}

.col{
    position: relative;
    border: 2px, solid, black;
    border-radius: 5px;
    margin: 5px;
    font-family: 'Sometype Mono', monospace;
    background-color: white;
    text-align: center;
}



.pin{
    position: absolute;
    right: 42%;

}

body{
    background-image: url(../img/cork.png);
}